body{
  margin: 1em;
  padding: 1em;
  background: #fff;
  color: #474747;
  font-family: sans-serif;
}

h1 {
  color: #ff4353;
}

.box{
  margin: 1em;
  padding: 2em;
  background: #f3f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}