{% extends "layout.twig" %}

{% block title %}
  Error
{% endblock %}

{% block content %}
<div class="siimple-box siimple-box--error">
  <div class="siimple-box-title">Error!</div>
  <div class="siimple-box-detail">
    <p>{{ errorMessage }}</p>
    <pre>{{ url }}</pre>
  </div>
</div>
{% endblock %}