<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> {% block title %}{% endblock %} </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/siimple.min.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="siimple-navbar sd-navbar--blue siimple-navbar--large">
      <a class="siimple-navbar-item" href='/books'>Books</a>
      <a class="siimple-navbar-item" href='/sales'>Sales</a>
      <a class="siimple-navbar-item" href='/my-books'>My Books</a>
    </div>

    <div style="padding: 15px">
      <div class="sd-content siimple-content--large">
        <div class="siimple-grid-row">
          <div class="siimple-grid-col">
            <form action="/search/" method="get">
              <label for="title">Title</label>
              <input type="text" name="title">
      
              <label for="author">Author</label>
              <input type="text" name="author">
      
              <input type="submit" value="Search">
            </form>
          </div>
          <div class="siimple-grid-col siimple-grid-col--9 siimple-grid-col-sm--12 sd-column">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>