{% block welcome %}
<div class="siimple-box siimple-box--navy">
  <div class="siimple-box-title">Welcome to Bookstore.op</div>
  <div class="siimple-box-detail">
    <p>Bookstore.op is The Best bookstore arround the globe.</p>
    <p>You will find tons and tons of e-books and epubs to purchase, rent and more!</p>
  </div>
</div>
{% endblock welcome %}